
tr:nth-child(even)
{
	background-color:t=yellow;
}
p{
	color:blue;
	font-size:36px;
	
}

#p1
{
	color:red;
	font-size:72px
}
		
.para
{
	color:green;
	fornt-size:20px
}

body
{
	background-image:url(super.jpg);
	backgroundsize:1020px 900px;                 <!--"auto" to auto fit the screen-->
	background-position:right bottom;
	margin-right:200px;
	background-attachment:fixed;
	
	
}